//import variables
@import '../bootstrap/variables';
@import '../bootstrap/mixins/vendor-prefixes';
@import 'variables';
body{
	width: 100%;
}
ul{
	margin-bottom: 0;
}
#top{
	background-color: $bblack;
	min-height: 36px;
	color: $bwhite;
	font-size: $font-size-small;
	line-height: 36px;
	margin-bottom: 20px;
	li.toggle-link{
		&:hover{
			background-color: $bred;
			.fa{
				color: $bwhite;
			}
		}
		>a{
			color: $bwhite;
			padding: 11px 5px;
			&:hover, &:focus{
				text-decoration: none;
			}
		}
	}
	.fa{
		font-size: 14px;
		color: $bred;
		vertical-align: middle;
	}
	.top-dropdown{
		position: relative;
		&:hover{
			.dropdown-menu{
				display:block;
				background-color: $bred;
			}
		}
		.dropdown-menu{
			margin: 0;
			font-size: $font-size-small;
			@include box-shadow(0 0 0 rgba(0, 0, 0, 0));
			border: none;
			border-radius: 0;
			min-width: 120px;
			padding-left: 5px;
			padding-right: 5px;
			a{
				color: $bwhite;
				&:hover{
					text-decoration: underline;
				}
			}
			&.text-meta{
				text-align: center;
			}
		}
	}
}